<div class="text-center container-fluid d-flex">

  {{! SECCIÓN DE LOS MENSAJES EN VIVO }}

  <section
    class="text-center container-lg d-flex flex-column align-items-center"
  >

    <h3 class="my-5 fw-bolder">Chat en vivo</h3>

    <form>
      <label for="email" class="form-label">Ingrese su email:</label>
      <input type="email" class="form-control" id="email" />
      <label for="name" class="form-label">Ingrese su nombre:</label>
      <input type="text" class="form-control" id="name" />
      <label for="lastname" class="form-label">Ingrese su apellido:</label>
      <input type="text" class="form-control" id="lastname" />
      <label for="age" class="form-label">Ingrese su edad:</label>
      <input type="number" class="form-control" id="age" />
      <label for="alias" class="form-label">Ingrese su alias:</label>
      <input type="text" class="form-control" id="alias" />

      <label for="avatar" class="form-label">Ingrese su avatar:</label>
      <input type="text" class="form-control" id="avatar" />

      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Deja aquí tu comentario"
          id="comment"
          style="height: 100px; resize:none"
        ></textarea>
        <label for="comment">Comentario:</label>
      </div>
      <button class="btn btn-dark mt-3" id="buttonChat"> Enviar</button>
      <div class="fw-bolder text-info mt-2" id="porcentaje">
      </div>
    </form>
    <article class="d-flex flex-column mt-5" id="msg">

    </article>
  </section>
</div>